.hot_news__wrapper {
  padding: 16px;
  width: 100%;
}

.hot_news__list {
}

.hot_news__list_item {
  margin-bottom: 12px;
}

.hot_news__list_item > a {
  display: flex;
  align-items: baseline;
  gap: 8px;
}

.hot_news__list_item_dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: black;
  flex-shrink: 0;
}

.hot_news__list_item_title {
}

.hot_news__list_item_loading {
  height: 24px;
  width: 100%;
  margin-bottom: 12px;
  border-radius: 20px;
}

.headline__loading {
  border-radius: 5px;
  min-height: 300px;
  margin-bottom: 12px;
}

.hot_news__list_item_image {
  display: none;
}

@media screen and (max-width: 900px) {
  .hot_news__list_item_dot {
    display: none;
  }

  .hot_news__list_item_image {
    flex-shrink: 0;
    display: block;
    height: 80px;
    width: 160px;
    border-radius: 5px;
  }

  .hot_news__list_item {
    margin-bottom: 16px;
  }

  .hot_news__list_item > a {
    align-items: center;
  }
}
